.colum{
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.map{
	width: 50%;
	margin: 0 auto;
}
@media screen and (max-width: 1200px){
	.map{
		width: 100%;
		hught: 90dvh;
		margin: 0 auto;
	}
}
